* {
  margin: 0;
  padding: 0;
}
.product-container {
  width: 100%;
  background-color: #CCC;
}
.product {
  width: 85px;
  height: 40px;
  background-color: lightblue;
  display: inline-block;
  padding: 10px;
  border: 1px solid darkblue;
  margin: 2px;
  border-radius: 2px;
}
